html {
	box-sizing: border-box;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;

}

header {
	background-color: yellow;
	display: block;
}

header nav {
	text-transform: uppercase;
	width: 100%;
	background: grey;
	float: left;
}

.header h1{
	width: 100%;
	background: green;
	float: left;
}



/* default & phone */

@media screen and (min-width: 25em) {

}
/* tablet */
@media screen and (min-width: 38em) {
 header nav {
	 width: 50%;
 }

.header h1 {
	width: 50%;
}
}

/* desktop, do this when the screen is 608px wide*/
@media screen and (min-width: 60em) {


}

/*screen*/
@media screen and (min-width: 90em) {

}
