@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  padding: 0;
  font-family: "Merriweather Sans", sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;

}

header {
  background-color: #d2d2d2;
  overflow: hidden;
  padding: 10px;
  margin: 0;
  display: block;
}

header nav {
  text-transform: uppercase;
  width: 100%;
  float: left;
}

.header h1 {
  width: 100%;
  float: left;
  margin: 0;
  font-size: 130%;
  line-height: 1.5;
  color: #fff;
}

header ul {
  list-style-type: none;
  padding: 5px 0 0;
  margin: 0;
  font-size: 100%;
  line-height: 1.3;
  font-weight: lighter;

}

.btn{
  display: inline-block;
  padding: .4em 0.75em 0.3em;
  color: #fff;
  border-radius: 8px;
  border-width: 3px;
  text-decoration: none;
  background-color: #333;
  font-size: .6rem;
}
.btn:hover {
  background-color: #666;
}

header nav a {
  text-decoration: none;
  color: #fff;
}

header nav li {
  margin: 0;
}

nav ul a {
  width: 100%;
  margin-left: .2em;
}

header nav li a:hover {
  background-color: #a2a2a2;
}

section {

  display: block;
}

.hero img {
  width: 100%;
}

.relative {
  position: relative;

}

.hero-text {
  display: block;
  text-align: center;
  font-size: 100%;
  line-height: 1.3;
  position: absolute;
  top: 2em;
  width: 100%;
  padding: .2em;

}

.relative p {
  margin: 0;
  line-height: 1.5;
}

.relative button {
  background: darkgrey;
}

.hero p {
  width: 100%;
  padding: 0;
}

.main {
  display: block;
}

.main h2 {
  width: 100%;
  text-align: center;
}

.about ,.menu {
  border-top: 30px solid black;
}

.menu {
  display: block;
  overflow: hidden;
  border-top: 30px solid black;
}

.menu-item {
  width: 100%;
  text-align: center;
  padding: 1em;
  float: left;
}

.menu-item img {
  width: 80%;
}

footer {
  background: yellow;
  display: block;
  padding: 1em;
}

footer img {
  width: 32px;
  margin-right: 1em;
}

footer div {
  width: 100%;
}

.social-media-app {
  width: 40px;
}

.about-img{
  width: 40%;
}

main{
  text-align: center;
  margin-bottom: 1em;
}
@media only screen and (min-width: 25em) {

  header nav {
    width:25%;
  }

}

@media only screen and (min-width: 38em) {

  .simple {
    font-size: 4rem;
}

  .clean {
    font-size: 5rem;
}

  .header nav {
    width: 50%;
  }

  .hero-text {
    font-size: 110%;
    top: 5em;
  }

  header h1 {
    width: 50%;
  }

  header li {
    display: inline-block;
  }

  main {
    padding: 0 8em;
  }

  .menu-item {
    width: 50%;
  }

}

@media only screen and (min-width: 60em) {

  .menu-item {
    width: 25%;
    font-size: 120%;
    line-height: 1.4;
  }
.hero-text{
  margin-top: 8em;
}


}

@media only screen and (min-width: 90em) {

  .menu-item img {
    width: 85%;

  }

.hero-text {
  margin-top: 9em
}
}
